[Unit]
Description=Android in a chroot

[Service]
ExecStartPre=/bin/mount --make-rslave rootfs / 
RootDirectoryStartOnly=true
RootDirectory=/android
ExecStart=/init
TimeoutSec=10s

[Install]
WantedBy=graphical.target
