Source: android-run
Section: android
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4

Package: android-run
Architecture: all
Depends: android, ${misc:Depends}
Description: Service configuration for Android
 This package provides systemd service configuration for Android. This
 assumes Android is in a chroot directory named /android, and invokes
 its init program. Android is installed as being wanted by the
 graphical target.
